---
layout: default
ref: index
lang: fr
slider: true
permalink: /fr/
---

<div class="mod_article first last block">
  <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start first">
    <div class="centered-wrapper-inner">
      {% assign products=site.products | where:"lang", page.lang %}
        <section class="icon-boxes is-animated does-repeat ce_rsce_tao_icon_boxes">
          {% for product in products %}
            <a class="icon-boxes-item rs-column -large-col-4-1 -medium-col-2-1 -small-col-1-1 -small-last -small-first-row -large-first-row -medium-first-row{% if forloop.first == true %} -large-first -medium-first -small-first{% endif %}" href="{{ product.url }}">
              <h3>{{ product.title }}</h3>
              <div class="icon-boxes-item-text">
                <p>{{ product.description }}</p>
              </div>
              <p class="icon-boxes-item-link -link">Détails</p>
            </a>
          {% endfor %}
        </section>
    </div>
  </div>
</div>
