<div class="ce_rs_column_start  rs-column -large-col-2-1 -large-first -large-first-row -medium-col-2-1 -medium-first -medium-first-row -small-col-1-1 -small-first -small-last -small-first-row">
  {% if page.left.logo.url %}
  <div class="ce_image block">
    {% if page.left.logo.link %}<a href="{{ page.left.logo.link }}" target="_blank">{% endif %}
    <figure class="image_container" style="margin-right:auto;margin-left:auto;">
      <img src="{{ page.left.logo.url }}" width="{% if page.left.logo.width %}{{ page.left.logo.width }}{% else %}150{% endif %}" height="{% if page.left.logo.height %}{{ page.left.logo.height }}{% else %}148{% endif %}" alt="">
    </figure>
    {% if page.left.logo.link %}</a>{% endif %}
  </div>
  {% endif %}
  <div class="ce_text block">
    <h1>{{ page.title }}</h1>
    {{content}}
  </div>
  {% if page.left.more_projects %}
    <section class="teaser-boxes -boxed">
      <h1 style="margin-bottom: 0">{{ site.t[page.lang].more_projects }}</h1>
      {% for project in page.left.more_projects %}
        <section class="teaser-boxes-item rs-column -large-col-1-1 -medium-col-1-1 -small-col-1-1">
          <h3>{{ project.description }}</h3>
          <div class="teaser-boxes-item-text">
            <p><a href="{{ project.url }}">{{ project.title | upcase }}</a></p>
          </div>
        </section>
      {% endfor %}
    </section>
  {% endif %}
  {% if page.left.other_projects %}
    <section class="teaser-boxes -boxed">
      <h1 style="margin-bottom: 0">{{ site.t[page.lang].other_projects }}</h1>
      {% for project in page.left.other_projects %}
        <section class="teaser-boxes-item rs-column -large-col-1-1 -medium-col-1-1 -small-col-1-1">
          <h3>{{ project.description }}</h3>
          <div class="teaser-boxes-item-text">
            <p><a href="{{ project.url }}">{{ project.title | upcase }}</a></p>
          </div>
        </section>
      {% endfor %}
    </section>
  {% endif %}
</div>
