<footer class="page-footer">
  <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start footer-bar first  -color-inverted" style="background-color: #000000; ">
    <div class="centered-wrapper-inner">
      <div class="rs-columns ce_rs_columns_start">
        <div class="rs-column -large-col-4-1 -large-first -large-first-row -medium-col-2-1 -medium-first -medium-first-row -small-col-1-1 -small-first -small-last -small-first-row">
          <h1>
            Quick-Links</h1>
          <ul class="icon-links ce_rsce_tao_icon_links">
            <li>
              <a href="index.php/architektur-konzeption.html">
                <span class="icon-links-label">Produkte & Dienstleistungen</span>
              </a>
            </li>
            <li>
              <a href="index.php/projekte.html">
                <span class="icon-links-label">Projekte</span>
              </a>
            </li>
            <li>
              <a href="index.php/partner.html">
                <span class="icon-links-label">Partner</span>
              </a>
            </li>
            <li>
              <a href="index.php/kontakt.html">
                <span class="icon-links-label">Unternehmen</span>
              </a>
            </li>
            <li>
              <a href="index.php/media.html">
                <span class="icon-links-label">News</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="rs-column -large-col-4-1 -large-first-row -medium-col-2-1 -medium-last -medium-first-row -small-col-1-1 -small-first -small-last">
          <h3>
            Social Media</h3>
          <ul class="icon-links ce_rsce_tao_icon_links">
            <li>
              <a href="https://www.linkedin.com/company/scigility?trk&#61;company_logo" data-icon="&#xe0b6;">
                <span class="icon-links-label">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="https://www.xing.com/profile/Christian_Guegi" data-icon="&#xe14b;">
                <span class="icon-links-label">Xing</span>
              </a>
            </li>
            <li>
              <a href="" data-icon="&#xe097;">
                <span class="icon-links-label">Google+</span>
              </a>
            </li>
            <li>
              <a href="https://zoom.us/" data-icon="&#xe042;">
                <span class="icon-links-label">Zoom Conference Service</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="rs-column -large-col-4-1 -large-first-row -medium-col-2-1 -medium-first -small-col-1-1 -small-first -small-last">
          <div class="ce_text block">
            <h3>Kontakt</h3>
            <div>Scigility AG</div>
            <div>Rte du Confin 32</div>
            <div>1723 Marly</div>
            <div>&nbsp;</div>
            <div>+41 79 202 47 89</div>
            <div><a style="color: #2e70b1;" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#97;&#108;&#108;&#111;&#x40;&#x73;&#x63;&#105;&#x67;&#105;&#x6C;&#x69;&#x74;&#121;&#x2E;&#99;&#x6F;&#109;">hallo&nbsp;(at)&nbsp;scigility.com</a></div>
          </div>
        </div>
        <div class="rs-column -large-col-4-1 -large-last -large-first-row -medium-col-2-1 -medium-last -small-col-1-1 -small-first -small-last">
          <h3>
            Links</h3>
          <ul class="icon-links ce_rsce_tao_icon_links">
            <li>
              <a href="http://www.springer.com/de/book/9783658115883">
                <span class="icon-links-label">Scigility Big Data Book</span>
              </a>
            </li>
            <li>
              <a href="http://www.meetup.com/de-DE/swiss-big-data/?chapter_analytics_code&#61;UA-34163083-2">
                <span class="icon-links-label">Swiss Big Data User Group</span>
              </a>
            </li>
            <li>
              <a href="http://www.dashcom.ch/">
                <span class="icon-links-label">Our sister company Dashcom</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-links-label"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="icon-links-label"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start  -border-top" style=" ">
    <div class="centered-wrapper-inner">
      <!-- indexer::stop -->
      <p class="footer-copyright ce_rsce_tao_footer_copyright">
        © Copyright 2016. Scigility. All rights reserved. <a href="http://cinzia-aeberhard.ch/" class="rocksolid-copyright">Design by Cinzia Aeberhard</a></a>
      </p>
      <!-- indexer::continue -->
      <!-- indexer::stop -->
      <nav class="mod_customnav footer-links block">
        <a href="#skipNavigation91" class="invisible">Navigation überspringen</a>
        <ul class="level_1">
          <li class="first last"><a href="index.php/impressum.html" title="Impressum" class="first last">Impressum</a></li>
        </ul>
        <a id="skipNavigation91" class="invisible">&nbsp;</a>
      </nav>
      <!-- indexer::continue -->
    </div>
  </div>
  <!-- indexer::stop -->
  <a href="#top" class="footer-top-link ce_rsce_tao_footer_top">
    <span>Nach</span> <span>oben</span>
  </a>
  <!-- indexer::continue -->
</footer>
