<footer class="page-footer">
  <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start footer-bar first  -color-inverted" style="background-color: #000000; ">
    <div class="centered-wrapper-inner">
      <div class="rs-columns ce_rs_columns_start">
        <div class="rs-column -large-col-4-1 -large-first -large-first-row -medium-col-2-1 -medium-first -medium-first-row -small-col-1-1 -small-first -small-last -small-first-row">
          <h1>Quick-Links</h1>
          <ul class="icon-links ce_rsce_tao_icon_links">
            {% for link in site.quicklinks %}
              {% assign post_refs=site.posts | where:"ref", link | where:"lang", page.lang %}
              {% assign page_refs=site.pages | where:"ref", link | where:"lang", page.lang %}
              {% assign product_refs=site.products | where:"ref", link | where:"lang", page.lang %}
              {% assign project_refs=site.projects | where:"ref", link | where:"lang", page.lang %}
              {% if post_refs[0].title %}
              <li>
                <a href="{{ post_refs[0].url }}">
                  <span class="icon-links-label">{{ post_refs[0].title }}</span>
                </a>
              </li>
              {% endif %}
              {% if page_refs[0].title %}
              <li>
                <a href="{{ page_refs[0].url }}">
                  <span class="icon-links-label">{{ page_refs[0].title }}</span>
                </a>
              </li>
              {% endif %}
              {% if product_refs[0].title %}
              <li>
                <a href="{{ product_refs[0].url }}">
                  <span class="icon-links-label">{{ product_refs[0].title }}</span>
                </a>
              </li>
              {% endif %}
              {% if project_refs[0].title %}
              <li>
                <a href="{{ project_refs[0].url }}">
                  <span class="icon-links-label">{{ project_refs[0].title }}</span>
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="rs-column -large-col-4-1 -large-first-row -medium-col-2-1 -medium-last -medium-first-row -small-col-1-1 -small-first -small-last">
          <h3>Social Media</h3>
          <ul class="icon-links ce_rsce_tao_icon_links">
            {% if site.linkedin_url %}
            <li>
              <a href="{{ site.linkedin_url }}" data-icon="&#xe0b6;">
                <span class="icon-links-label">LinkedIn</span>
              </a>
            </li>
            {% endif %}
            {% if site.googleplus_url %}
            <li>
              <a href="{{ site.googleplus_url }}" data-icon="&#xe098;">
                <span class="icon-links-label">Google+</span>
              </a>
            </li>
            {% endif %}
            {% if site.facebook_url %}
            <li>
              <a href="{{ site.facebook_url }}" data-icon="&#xe076;">
                <span class="icon-links-label">Facebook</span>
              </a>
            </li>
            {% endif %}
            {% if site.xing_url %}
            <li>
              <a href="{{ site.xing_url }}" data-icon="&#xe14b;">
                <span class="icon-links-label">Xing</span>
              </a>
            </li>
            {% endif %}
            {% if site.zoom_url %}
            <li>
              <a href="{{ site.zoom_url }}" data-icon="&#xe042;">
                <span class="icon-links-label">Zoom Conference Service</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="rs-column -large-col-4-1 -large-first-row -medium-col-2-1 -medium-first -small-col-1-1 -small-first -small-last">
          <div class="ce_text block">
            <!-- TODO: translate string, fix it with real info -->
            <h3>Kontakt</h3>
            <div>Scigility AG</div>
            <div>Rte du Confin 32</div>
            <div>1723 Marly</div>
            <div>&nbsp;</div>
            <div>+41 79 202 47 89</div>
            <div><a style="color: #2e70b1;" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#97;&#108;&#108;&#111;&#x40;&#x73;&#x63;&#105;&#x67;&#105;&#x6C;&#x69;&#x74;&#121;&#x2E;&#99;&#x6F;&#109;">hallo&nbsp;(at)&nbsp;scigility.com</a></div>
          </div>
        </div>
        <div class="rs-column -large-col-4-1 -large-last -large-first-row -medium-col-2-1 -medium-last -small-col-1-1 -small-first -small-last">
          <h3>Links</h3>
          <ul class="icon-links ce_rsce_tao_icon_links">
            {% for link in site.footer_links %}
            <li>
              <a href="{{ link.url }}">
                <span class="icon-links-label">{{ link.text }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start -border-top">
    <div class="centered-wrapper-inner">
      <p class="footer-copyright ce_rsce_tao_footer_copyright">
        © Copyright 2016. Scigility. All rights reserved. <a href="http://cinzia-aeberhard.ch/" class="rocksolid-copyright">Design by Cinzia Aeberhard</a></a>
      </p>
      <nav class="mod_customnav footer-links block"><!-- TODO: translate string -->
        <a href="#skipNavigation91" class="invisible">Navigation überspringen</a>
        <ul class="level_1">
          <li class="first last"><!-- TODO: fix link -->
            <a href="index.php/impressum.html" title="Impressum" class="first last">Impressum</a>
          </li>
        </ul>
        <a id="skipNavigation91" class="invisible">&nbsp;</a>
      </nav>
    </div>
  </div>
  <a href="#top" class="footer-top-link ce_rsce_tao_footer_top">
    <span>{{ site.t[page.lang].top_1st }}</span> <span>{{ site.t[page.lang].top_2nd }}</span>
  </a>
</footer>
