<header class="page-header">
  <div class="header-navigation">
    <div class="header-navigation-inner">
      <h1 class="ce_rsce_tao_logo logo">
        <a href="{{ page.lang | replace:site.defaultlanguage,'' | prepend: '/' | prepend: site.baseurl | prepend: site.url }}">
          <img src="/assets/img/Scigility_logo.png" width="375" height="80" alt="Scigility logo">
        </a>
      </h1>
      {% include navigation.html %}
      <!-- TODO: lunr.js -->
      <form action="" method="get" class="ce_rsce_tao_nav_search main-navigation-search">
        <input type="search" name="keywords" placeholder="" />
        <button type="submit"></button>
      </form>
    </div>
  </div>
  <div class="main-navigation-mobile">
    {% include navigation.html %}
    <ul class="icon-links ce_rsce_tao_icon_links main-navigation-mobile-icons">
      <li><!-- TODO: use config -->
        <a href="https://www.linkedin.com/company/scigility?trk&#61;company_logo" data-icon="&#xe0b6;" style="color: #00baff;">
          <span class="icon-links-label">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="&#35;" data-icon="&#xe098;" style="color: #00baff;">
          <span class="icon-links-label">Google+</span>
        </a>
      </li>
      <li>
        <a href="&#35;" data-icon="&#xe076;" style="color: #00baff;">
          <span class="icon-links-label">Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://www.xing.com/profile/Daniel_Fasel3&#35;" data-icon="&#xe14b;" style="color: #00baff;">
          <span class="icon-links-label">Xing</span>
        </a>
      </li>
    </ul>
  </div>
</header>
