<nav class="mod_rocksolid_mega_menu main-navigation block" id="main-navigation">
  <a href="#skipNavigation78" class="invisible">Navigation überspringen</a>
  <ul class="level_1">
    <li class="trail home tagline-no-border sibling first">
      <a href="/{{page.lang}}" title="Home" class="trail home tagline-no-border sibling first">Home</a>
    </li>
    <li class="submenu sibling">
      <a href="#" title="Produkte &amp; Dienstleistungen" class="submenu sibling" aria-haspopup="true">Produkte &amp; Dienstleistungen</a>
      <ul class="level_2">
        {% assign products=site.products | where:"lang", page.lang %}
        {% for product in products %}
          <li>
            <a href="{{ product.url | prepend: site.baseurl }}">{{ product.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="submenu sibling">
      <a href="index.php/projekte.html" title="Projekte" class="submenu sibling" aria-haspopup="true">Projekte</a>
      <ul class="level_2">
        {% assign projects=site.projects | where:"lang", page.lang %}
        {% for project in projects %}
          <li>
            <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="sibling">
      <a href="index.php/partner.html" title="Partner" class="sibling">Partner</a>
    </li>
    <li class="submenu sibling">
      <a href="index.php/kontakt.html" title="Unternehmen" class="submenu sibling" aria-haspopup="true">Unternehmen</a>
      <ul class="level_2">
        {% assign pages=site.pages | where:"lang", page.lang %}
        {% for page in pages %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="bordernav sibling last">
      <a href="index.php/de.html" title="DE" class="bordernav sibling last">DE</a>
    </li>
  </ul>
  <a id="skipNavigation11" class="invisible">&nbsp;</a>
</nav>
