<nav class="mod_rocksolid_mega_menu main-navigation block">
  <ul class="level_1">
    <li class="{% if '/{{page.lang}}' == page.url %}trail {% endif %}home tagline-no-border first">
      <a href="/{{page.lang}}" title="{{ site.t[page.lang].home }}" class="{% if '/{{page.lang}}' == page.url %}trail {% endif %}home tagline-no-border first">{{ site.t[page.lang].home }}</a>
    </li>
    <li class="{% if page.layout == 'product' %}trail {% endif %}submenu">
      <a title="{{ site.t[page.lang].products_services }}" class="{% if page.layout == 'product' %}trail {% endif %}submenu" aria-haspopup="true">{{ site.t[page.lang].products_services }}</a>
      <ul class="level_2">
        {% assign items=site.products | where:"lang", page.lang %}
        {% for item in items %}
          <li {% if forloop.last %}class="tagline-no-border last"{% endif %}>
            <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="submenu">
      {% assign item=site.pages | where:"ref", "projects" | where:"lang", page.lang %}
      <a href="{{ item[0].url }}" title="{{ item[0].title }}" class="{% if page.ref == 'projects' %}trail {% endif %}submenu" aria-haspopup="true">{{ item[0].title }}</a>
      <ul class="level_2">
        {% assign items=site.projects | where:"lang", page.lang %}
        {% for item in items %}
          <li {% if forloop.last %}class="tagline-no-border last"{% endif %}>
            <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      {% assign item=site.pages | where:"ref", "partners" | where:"lang", page.lang %}
      <a href="{{ item[0].url }}" title="{{ item[0].title }}" class="{% if page.ref == 'partners' %}trail{% endif %}">{{ item[0].title }}</a>
    </li>
    <li class="submenu">
      {% assign item=site.pages | where:"ref", "contact" | where:"lang", page.lang %}
      <a href="{{ item[0].url }}" title="{{ site.t[page.lang].company }}" class="{% if site.company_menu contains page.ref %}trail {% endif %}submenu" aria-haspopup="true">{{ site.t[page.lang].company }}</a>
      <ul class="level_2">
        {% for ref in site.company_menu %}
          {% assign item=site.pages | where:"ref", ref | where:"lang", page.lang %}
          {% if item[0].title %}
            <li {% if forloop.last %}class="tagline-no-border last"{% endif %}>
              <a href="{{ item[0].url | prepend: site.baseurl }}">{{ item[0].title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li class="bordernav submenu">
      <a title="Lang" class="bordernav last">{{ page.lang | upcase }}</a>
      <ul class="level_2">
        {% assign items=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for item in items %}
          <li {% if forloop.last %}class="tagline-no-border last"{% endif %}>
            <a href="{{ item.url | prepend: site.baseurl }}">{{ item.lang | upcase }}</a>
          </li>
        {% endfor %}
        {% assign items=site.projects | where:"ref", page.ref | sort: 'lang' %}
        {% for item in items %}
          <li {% if forloop.last %}class="tagline-no-border last"{% endif %}>
            <a href="{{ item.url | prepend: site.baseurl }}">{{ item.lang | upcase }}</a>
          </li>
        {% endfor %}
        {% assign items=site.products | where:"ref", page.ref | sort: 'lang' %}
        {% for item in items %}
          <li {% if forloop.last %}class="tagline-no-border last"{% endif %}>
            <a href="{{ item.url | prepend: site.baseurl }}">{{ item.lang | upcase }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
