---
layout: default
---

<div class="mod_article first last block">
  <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start first ">
    <div class="centered-wrapper-inner">
      <div class="rs-columns ce_rs_columns_start" style="margin-top:36px; margin-bottom:36px;">
        {% for contact in site.data.contacts %}
          <div class="rs-column -large-col-2-1 -large-first -small-first -small-last -small-col-1-1 -medium-col-2-1 -medium-first {% if forloop.index0 == 0 %}-large-first-row -medium-first-row -small-first-row{% endif %}">
            <div class="google-map ce_rsce_tao_map" style="padding-bottom: 50%">
              <iframe src="{{ contact.maps }}" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
          <div class="rs-column -large-col-2-1 -large-last -medium-col-2-1 -medium-last -small-col-1-1 -small-first -small-last {% if forloop.index0 == 0 %}-large-first-row -medium-first-row{% endif %}">
            <div class="ce_text block">
              <h1>{{ contact.alt_name }}</h1>
              <div>{{ contact.name }}</div>
              <div>{{ contact.address1 }}</div>
              {% if contact.address2 %}
                <div>{{ contact.address2 }}</div>
              {% endif %}
              <div>{{ contact.city }}</div>
              <div>&nbsp;</div>
              <div>{{ contact.phone }}</div>
              <div><a style="color: #2e70b1;" href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
              {% if contact.linkedin_url %}
                <div><a href="{{ site.linkedin_url }}" target="_blank">LinkedIn</a></div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
