<!DOCTYPE html>
<html lang="de">
{% include head.html %}
<body id="top" class="unknown other  tao-no-sidebar tao-fullwidth home tagline-no-border">
  <!--[if lt IE 8]>
<p>You are using an outdated browser. <a href="http://whatbrowser.org/">Upgrade your browser today</a>.</p>
<![endif]-->
  <div class="page">
    {% include header.html %}
    <div class="custom">
      <div id="Tagline">
        <div class="inside">
          <div class="tagline">
            <div class="tagline-inner">
              <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start " style=" ">
                <div class="centered-wrapper-inner">
                </div>
              </div>
              <div class="mod_article first last block" id="tagline">
                <div class="mod_rocksolid_slider main-slider block">
                  <a href="index.php/insurance-finance-108.html" data-rsts-name="1" data-rsts-center="true" data-rsts-thumb="assets/images/e/Slider1-ddcad06e.png">
                    <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start  -color-inverted" style="background-size: contain;background-position: 50% 100%; ">
                      <div class="centered-wrapper-inner">
                        <section class="feature-box is-animated ce_rsce_tao_feature_box does-repeat -image-centered">
                          <div class="feature-box-text -move -fade -move-left">
                            <h1 style="text-align: left;">Projektbeschreibung mit Keywords.</h1>
                            <p style="text-align: left;">MIGROS GENOSSENSCHAFT</p>
                          </div>
                        </section>
                      </div>
                    </div>
                    <img data-rsts-background src="assets/images/e/Slider1-ddcad06e.png" srcset="assets/images/e/Slider1-ddcad06e.png 1920w, assets/images/a/Slider1-5c275b8a.png 480w, assets/images/5/Slider1-55f7d045.png 960w, assets/images/f/Slider1-a77dff9f.png 1440w" sizes="100vw" alt="">
                    <script>
                      window.respimage && window.respimage({
                        elements: [document.images[document.images.length - 1]]
                      })
                    </script>
                  </a>
                  <a href="index.php/retail-consumer-goods-106.html" data-rsts-name="2" data-rsts-center="true" data-rsts-thumb="assets/images/7/Slider2-6cf21fb7.png">
                    <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start  -color-inverted" style="background-size: contain;background-position: 50% 100%; ">
                      <div class="centered-wrapper-inner">
                        <section class="feature-box is-animated ce_rsce_tao_feature_box does-repeat -image-centered">
                          <div class="feature-box-text -move -fade -move-left">
                            <h1 style="text-align: left;">Projektbeschreibung mit Keywords.</h1>
                            <p style="text-align: left;">MIGROS GENOSSENSCHAFT</p>
                          </div>
                        </section>
                      </div>
                    </div>
                    <img data-rsts-background src="assets/images/7/Slider2-6cf21fb7.png" srcset="assets/images/7/Slider2-6cf21fb7.png 1920w, assets/images/e/Slider2-b380cc3e.png 480w, assets/images/f/Slider2-35c59c9f.png 960w, assets/images/5/Slider2-0b262d85.png 1440w" sizes="100vw" alt="">
                    <script>
                      window.respimage && window.respimage({
                        elements: [document.images[document.images.length - 1]]
                      })
                    </script>
                  </a>
                  <script type="text/html" data-rsts-thumb="assets/images/8/Slider3-56d1e9b8.png">

                    <a href="index.php/logistics-transport-107.html" data-rsts-name="3" data-rsts-center="true" data-rsts-thumb="assets/images/8/Slider3-56d1e9b8.png">

                      <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start  -color-inverted" style="background-size: contain;background-position: 50% 100%; ">
                        <div class="centered-wrapper-inner">

                          <section class="feature-box is-animated ce_rsce_tao_feature_box does-repeat -image-centered">

                            <div class="feature-box-text -move -fade -move-left">
                              <h1 style="text-align: left;">Projektbeschreibung mit Keywords.</h1>
                              <p style="text-align: left;">MIGROS GENOSSENSCHAFT</p>

                            </div>
                          </section>
                        </div>
                      </div>

                      <img data-rsts-background src="assets/images/8/Slider3-56d1e9b8.png" srcset="assets/images/8/Slider3-56d1e9b8.png 1920w, assets/images/c/Slider3-5e4929fc.png 480w, assets/images/6/Slider3-a6cdfec6.png 960w, assets/images/1/Slider3-f2d2c0a1.png 1440w" sizes="100vw" alt="">
                      <script>
                        window.respimage && window.respimage({
                          elements: [document.images[document.images.length - 1]]
                        });
                      </script>
                      <script type="text/html" data-rsts-thumb="assets/images/8/Slider4-72a99fd8.png">

                        <a href="index.php/technology-telecommunication-105.html" data-rsts-name="4" data-rsts-center="true" data-rsts-thumb="assets/images/8/Slider4-72a99fd8.png">

                          <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start  -color-inverted" style="background-size: contain;background-position: 50% 100%; ">
                            <div class="centered-wrapper-inner">

                              <section class="feature-box is-animated ce_rsce_tao_feature_box does-repeat -image-centered">

                                <div class="feature-box-text -move -fade -move-left">
                                  <h1 style="text-align: left;">Projektbeschreibung mit Keywords.</h1>
                                  <p style="text-align: left;">MIGROS GENOSSENSCHAFT</p>

                                </div>
                              </section>
                            </div>
                          </div>


                          <img data-rsts-background src="assets/images/8/Slider4-72a99fd8.png" srcset="assets/images/8/Slider4-72a99fd8.png 1920w, assets/images/4/Slider4-34c78014.png 480w, assets/images/0/Slider4-3d150fd0.png 960w, assets/images/6/Slider4-64e465c6.png 1440w" sizes="100vw" alt="">
                          <script>
                            window.respimage && window.respimage({
                              elements: [document.images[document.images.length - 1]]
                            });
                          </script>
                </div>
                <script>
                  (function() {
                    var sliderElement = [].slice.call(document.getElementsByClassName('mod_rocksolid_slider'), -1)[0];
                    if (window.jQuery && jQuery.fn.rstSlider) {
                      init()
                    } else {
                      document.addEventListener('DOMContentLoaded', init)
                    }

                    function init() {
                      var $ = jQuery;
                      var slider = $(sliderElement);
                      slider.find('video[data-rsts-background], [data-rsts-type=video] video').each(function() {
                        this.player = !1
                      });
                      slider.rstSlider({
                        "type": "slide",
                        "direction": "x",
                        "skin": "tao",
                        "navType": "thumbs",
                        "scaleMode": "crop",
                        "imagePosition": "center",
                        "centerContent": !0,
                        "random": !1,
                        "loop": !0,
                        "videoAutoplay": !1,
                        "autoplayProgress": !1,
                        "pauseAutoplayOnHover": !1,
                        "keyboard": !0,
                        "captions": !1,
                        "controls": !0,
                        "combineNavItems": !0,
                        "preloadSlides": 1,
                        "gapSize": "1%"
                      });
                      $(function() {
                        if (!$.fn.colorbox) {
                          return
                        }
                        var lightboxConfig = {
                          loop: !1,
                          rel: function() {
                            return $(this).attr('data-lightbox')
                          },
                          maxWidth: '95%',
                          maxHeight: '95%'
                        };
                        var update = function(links) {
                          links.colorbox(lightboxConfig)
                        };
                        slider.on('rsts-slidestart rsts-slidestop', function(event) {
                          update(slider.find('a[data-lightbox]'))
                        });
                        update(slider.find('a[data-lightbox]'))
                      })
                    }
                  })()
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <section role="main" class="main-content">
        {{ content }}
        <div class="mod_article first last block" id="home">
          <div class="centered-wrapper ce_rsce_tao_centered_wrapper_start first " style="background-color: #ffffff; ">
            <div class="centered-wrapper-inner">
              <section class="icon-boxes is-animated does-repeat ce_rsce_tao_icon_boxes">
                <a class="icon-boxes-item rs-column -large-col-4-1 -large-first -large-first-row -medium-col-2-1 -medium-first -medium-first-row -small-col-1-1 -small-first -small-last -small-first-row   " style="" href="index.php/kontakt.html">
                  <h3>Architektur & Konzeption</h3>
                  <div class="icon-boxes-item-text">
                    <p>Wir bieten Ihnen Unterstützung bei der Architektur und der Konzeption von neuen Big Data Lösungen an.</p>
                  </div>
                  <p class="icon-boxes-item-link -link">Details</p>
                </a>
                <a class="icon-boxes-item rs-column -large-col-4-1 -large-first-row -medium-col-2-1 -medium-last -medium-first-row -small-col-1-1 -small-first -small-last   " style="" href="index.php/kontakt.html">
                  <h3>Prototyping & Auditierung</h3>
                  <div class="icon-boxes-item-text">
                    <p>Wir können für Sie Prototypen für Ihre Bedürfnisse erstellen, um den Nutzenwert der neuen Technologien End-to-End zu zeigen. Haben Sie bereits eine Big Data Infrastruktur im Betrieb? Wir können diese auditieren und aufzeigen, ob Ihre Lösung optimal für Ihre Bedürfnisse ist.</p>
                  </div>
                  <p class="icon-boxes-item-link -link">Details</p>
                </a>
                <a class="icon-boxes-item rs-column -large-col-4-1 -large-first-row -medium-col-2-1 -medium-first -small-col-1-1 -small-first -small-last   " style="" href="index.php/kontakt.html">
                  <h3>Entwicklung, Analytik & Reporting</h3>
                  <div class="icon-boxes-item-text">
                    <p>Wir unterstützen Sie bei der Entwicklung neuer Applikationen auf Big Data Technologien, bei Analysieren Ihrer Daten und beim Aufbau von Reporting Lösungen.</p>
                  </div>
                  <p class="icon-boxes-item-link -link">Details</p>
                </a>
                <a class="icon-boxes-item rs-column -large-col-4-1 -large-last -large-first-row -medium-col-2-1 -medium-last -small-col-1-1 -small-first -small-last   " style="" href="index.php/kontakt.html">
                  <h3>Installation, Betrieb & Schulung</h3>
                  <div class="icon-boxes-item-text">
                    <p>Wir helfen Ihnen Ihre Big Data Infrastrukturen aufzubauen und beim Betrieb solcher Infrastrukturen zu helfen. Wir bieten Ihnen sowohl theoretische Einführungen, wie auch praktische Trainings für Big Data Technologien an.</p>
                  </div>
                  <p class="icon-boxes-item-link -link">Details</p>
                </a>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
    {% include footer.html %}
  </div>
  <script src="assets/jquery/mediaelement/2.21.2/js/mediaelement-and-player.min.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $('video:not(.no-mejs),audio:not(.no-mejs)').mediaelementplayer({
          videoWidth: '100%',
          videoHeight: '100%',
          pluginPath: '/scigility/assets/jquery/mediaelement/2.21.2/',
          flashName: 'legacy/flashmediaelement.swf',
          silverlightName: 'legacy/silverlightmediaelement.xap'
        })
      })
    })(jQuery)
  </script>
  <script src="assets/jquery/ui/1.11.4/jquery-ui.min.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $(document).accordion({
          heightStyle: 'content',
          header: 'div.toggler',
          collapsible: !0,
          create: function(event, ui) {
            ui.header.addClass('active');
            $('div.toggler').attr('tabindex', 0)
          },
          activate: function(event, ui) {
            ui.newHeader.addClass('active');
            ui.oldHeader.removeClass('active');
            $('div.toggler').attr('tabindex', 0)
          }
        })
      })
    })(jQuery)
  </script>
  <script src="assets/jquery/colorbox/1.6.1/js/colorbox.min.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $('a[data-lightbox]').map(function() {
          $(this).colorbox({
            loop: !1,
            rel: $(this).attr('data-lightbox'),
            maxWidth: '95%',
            maxHeight: '95%'
          })
        })
      })
    })(jQuery)
  </script>
  <script src="assets/jquery/tablesorter/2.0.5/js/tablesorter.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $('.ce_table .sortable').each(function(i, table) {
          $(table).tablesorter()
        })
      })
    })(jQuery)
  </script>
  <script>
    setTimeout(function() {
      var e = function(e, t) {
          try {
            var n = new XMLHttpRequest
          } catch (r) {
            return
          }
          n.open("GET", e, !0), n.onreadystatechange = function() {
            this.readyState == 4 && this.status == 200 && typeof t == "function" && t(this.responseText)
          }, n.send()
        },
        t = "system/cron/cron.";
      e(t + "txt", function(n) {
        parseInt(n || 0) < Math.round(+(new Date) / 1e3) - 86400 && e(t + "php")
      })
    }, 5e3)
  </script>
  <script src="files/tao/js/script.js"></script>
</body>

</html>
