<!DOCTYPE html>
<html lang="de">
{% include head.html %}
<body id="top" class="unknown other  tao-no-sidebar tao-fullwidth home tagline-no-border">
  <!--[if lt IE 8]>
<p>You are using an outdated browser. <a href="http://whatbrowser.org/">Upgrade your browser today</a>.</p>
<![endif]-->
  <div class="page">
    {% include header.html %}
    {% include banner.html %}
    <div class="content-wrapper">
      <section role="main" class="main-content">
        {{ content }}
      </section>
    </div>
    {% include footer.html %}
  </div>
  <script src="/assets/jquery/mediaelement/2.21.2/js/mediaelement-and-player.min.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $('video:not(.no-mejs),audio:not(.no-mejs)').mediaelementplayer({
          videoWidth: '100%',
          videoHeight: '100%',
          pluginPath: '/scigility/assets/jquery/mediaelement/2.21.2/',
          flashName: 'legacy/flashmediaelement.swf',
          silverlightName: 'legacy/silverlightmediaelement.xap'
        })
      })
    })(jQuery)
  </script>
  <script src="/assets/jquery/ui/1.11.4/jquery-ui.min.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $(document).accordion({
          heightStyle: 'content',
          header: 'div.toggler',
          collapsible: !0,
          create: function(event, ui) {
            ui.header.addClass('active');
            $('div.toggler').attr('tabindex', 0)
          },
          activate: function(event, ui) {
            ui.newHeader.addClass('active');
            ui.oldHeader.removeClass('active');
            $('div.toggler').attr('tabindex', 0)
          }
        })
      })
    })(jQuery)
  </script>
  <script src="/assets/jquery/colorbox/1.6.1/js/colorbox.min.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $('a[data-lightbox]').map(function() {
          $(this).colorbox({
            loop: !1,
            rel: $(this).attr('data-lightbox'),
            maxWidth: '95%',
            maxHeight: '95%'
          })
        })
      })
    })(jQuery)
  </script>
  <script src="/assets/jquery/tablesorter/2.0.5/js/tablesorter.js"></script>
  <script>
    (function($) {
      $(document).ready(function() {
        $('.ce_table .sortable').each(function(i, table) {
          $(table).tablesorter()
        })
      })
    })(jQuery)
  </script>
  <script src="/assets/js/tao.js"></script>
</body>

</html>
