<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}
<body id="top" class="unknown other tao-no-sidebar tao-fullwidth home tagline-no-border">
  <div class="page">
    {% include header.html %}
    {% include banner.html %}
    <div class="content-wrapper">
      <section role="main" class="main-content">
        {{ content }}
      </section>
    </div>
    {% include footer.html %}
  </div>
  <script src="{{ "/assets/js/tao.js" | prepend: site.baseurl }}"></script>
</body>
</html>
