---
layout: default
---

<div class="centered-wrapper">
  <div class="centered-wrapper-inner">
    <div class="rs-columns">
      <div class="ce_rs_column_start  rs-column -large-col-2-1 -large-first -large-first-row -medium-col-2-1 -medium-first -medium-first-row -small-col-1-1 -small-first -small-last -small-first-row">
        <div class="ce_text block">
          {{ content }}
        </div>
      </div>
      <div class="ce_rs_column_start  rs-column -large-col-2-1 -large-last -large-first-row -medium-col-2-1 -medium-last -medium-first-row -small-col-1-1 -small-first -small-last">
        <div class="icon-text-block " data-icon="&#xe0a1;">
        <div>{{ site.data.contacts[0].name }}</div>
        <div>{{ site.data.contacts[0].address1 }}</div>
        {% if site.data.contacts[0].address2 %}
          <div>{{ site.data.contacts[0].address2 }}</div>
        {% endif %}
        <div>{{ site.data.contacts[0].city }}</div>
        </div>
        <div class="icon-text-block " data-icon="&#xe043;">
          <p><strong>T:</strong> {{ site.data.contacts[0].phone }}<br><strong>E:</strong> <a href="mailto:{{ site.data.contacts[0].email }}">{{ site.data.contacts[0].email }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
