---
layout: default
---

<div class="centered-wrapper">
  <div class="centered-wrapper-inner">
    <section class="icon-boxes">
      {% assign products=site.products | where:"lang", page.lang %}
      {% for product in products %}
        <a class="icon-boxes-item rs-column -large-col-4-1 -medium-col-2-1 -small-col-1-1 -small-first-row -large-first-row -medium-first-row{% if forloop.first %} -large-first -medium-first -small-first{% endif %}{% if forloop.last %} -large-last -medium-last -small-last{% endif %}" href="{{ product.url }}">
          <h3>{{ product.title }}</h3>
          <div class="icon-boxes-item-text">
            <p>{{ product.description }}</p>
          </div>
          <p class="icon-boxes-item-link -link">{{ site.t[page.lang].details  }}</p>
        </a>
      {% endfor %}
    </section>
  </div>
</div>
