---
layout: default
---

<div class="centered-wrapper">
  <div class="centered-wrapper-inner">
    <div class="ce_text block">
      <h1>{{ page.title }}</h1>
      <p>{{ page.subtitle }}</p>
      <p><i>{{ page.subsubtitle }}</i></p>
      <p>
        {% assign jobs=site.jobs | where:"lang", page.lang %}
        {% for job in jobs %}
        <a href="#{{ job.ref }}" onclick="scrollToAnchor('{{ job.ref }}'); return false;">{{ job.title }}</a> {% if jobs.size > 1 and forloop.last == false %}|{% endif %}
        {% endfor %}
      </p>
    </div>
    <section class="teaser-boxes -boxed">
      {% assign jobs=site.jobs | where:"lang", page.lang %}
      {% for job in jobs %}
        {% assign mod = forloop.index0 | modulo: 2 %}
        <section class="{% if mod == 0 %}clear{% endif %} teaser-boxes-item rs-column -large-col-1-1 -large-first-row -medium-col-1-1 -medium-first -medium-last -small-col-1-1 -small-first -small-last {% cycle "-large-first -medium-first-row -small-first-row", "-large-last" %} bottom-20">
          <a name="{{ job.ref }}"></a>
          {{ job }}
        </section>
      {% endfor %}
    </section>
  </div>
</div>
