---
layout: default
---

<div class="centered-wrapper-medium">
  <div class="centered-wrapper-inner">
    <div class="rs-columns">
      <div class="rs-column -large-col-2-1 -large-first -large-first-row -medium-col-2-1 -medium-first -medium-first-row -small-col-1-1 -small-first -small-last -small-first-row">
        <div class="ce_text block">
          {{ content }}
        </div>
      </div>
      <div class="rs-column -large-col-2-1 -large-last -large-first-row -medium-col-2-1 -medium-last -medium-first-row -small-col-1-1 -small-first -small-last">
        <section class="teaser-boxes -boxed">
          {% assign in_the_news = site.data.in_the_news | sort: 'order' %}
          {% for item in in_the_news %}
            <section class="teaser-boxes-item rs-column -large-col-1-1 -large-first -large-last -medium-col-1-1 -medium-first -medium-last -small-col-1-1 -small-first -small-last{% if forloop.first %} -large-first-row -medium-first-row -small-first-row{% endif %}">
              <h3>{{ item.title }}</h3>
              <div class="teaser-boxes-item-text">
                <p><a href="{{ item.link }}">{{ item.link_text }}</a></p>
              </div>
            </section>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>
