---
layout: default
---

<div class="centered-wrapper-medium">
  <div class="centered-wrapper-inner">
    {{ content }}
    <section class="team-boxes">
      {% for member in site.data.members %}
        {% assign mod = forloop.index0 | modulo: 4 %}
        <div class="{% if mod == 0 %}-large-first -medium-first small-first{% endif %} {% if mod == 3 %}-large-last -medium-last small-last{% endif %} team-boxes-item rs-column -large-col-4-1 -medium-col-4-1 -small-col-1-1">
          <div class="image-wrapper">
            <img src="{{ member.picture | prepend: site.baseurl }}" width="400" height="600" alt="{{ member.name }}">
          </div>
          <h3>{{ member.name }}</h3>
          <h4>{{ site.t[page.lang].position }}</h4>
          <p>{{ member.position }}</p>
          <ul>
            {% if member.email %}
              <li><a href="{{ member.email }}" data-icon="&#xe0cc;" style="color: #888888" target="_blank">E-Mail</a></li>
            {% endif %}
            {% if member.linkedin %}
              <li><a href="{{ member.linkedin }}" data-icon="&#xe0b6;" style="color: #0e76a8" target="_blank">LinkedIn</a></li>
            {% endif %}
          </ul>
        </div>
      {% endfor %}
      <div class="{% if mod == 3 %}-large-first -medium-first small-first{% endif %} {% if mod == 2 %}-large-last -medium-last small-last{% endif %} team-boxes-item rs-column -large-col-4-1 -medium-col-4-1 -small-col-1-1">
        <div class="image-wrapper">
          <img src="/assets/members/1.jpg" width="400" height="600" alt="you?">
        </div>
        <h3>YOU?</h3>
        <h4>{{ site.t[page.lang].position }}</h4>
        {% assign jobpage_ref=site.pages | where:'ref', 'jobs' | where:'lang', page.lang%}
        <p>{% if page.lang == "en" %}Looking for a new <a href="{{ jobpage_ref[0].url }}">challenge?</a>{% else %}Suchst du eine neue <a href="{{ jobpage_ref[0].url }}">Herausforderung?</a>{% endif %}</p>
      </div>
    </section>
  </div>
</div>
