<div class="rs-column -large-col-2-1 -large-last -large-first-row -medium-col-2-1 -medium-last -medium-first-row -small-col-1-1 -small-first -small-last">
  <section class="teaser-boxes -boxed">
    {% assign projects=site.projects | where:"lang", page.lang | where:"main", true %}
    {% for project in projects %}
      <section class="teaser-boxes-item rs-column -large-col-1-1 -large-first -large-last -medium-col-1-1 -medium-first -medium-last -small-col-1-1 -small-first -small-last{% if forloop.first %} -large-first-row -medium-first-row -small-first-row{%endif%}">
        <h3>{{ project.description }}</h3>
        <div class="teaser-boxes-item-text">
          <p><a href="{{ project.url }}">{{ project.title | upcase }}</a></p>
        </div>
      </section>
    {% endfor %}
  </section>
</div>
